<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pastenix Elixir IRC">
    <meta name="author" content="Redvers Davies">

    <title>Pastenix - Pastebin, Elixir and IRC!</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  </head>

  <body>
    <div class="container-fluid">
    <div class="col-md-12">
    <h1>Pastenix</h1>
    <p>Simple Pastebin written in Elixir with an Mnesia backend.  Will drop a comment in the irc channel
 of your choice if you wish...</p>
    <%= @inner %>

  </div> <!-- /container -->
  </body>
</html>
~
